@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "signika";
  src: url("./fonts/Second.ttf");
}
@font-face {
  font-family: "burtons";
  src: url("./fonts/Burtons.otf");
}

.shizzy {
  transition: color 0.3s;
}
.shizzy::before {
  transition: width 0.8s ease-in-out;
}
.shizzy:hover {
  color: chartreuse;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: aqua;
}
.shizzy:hover::before {
  transform: scaleX(1);
  width: 100%;
}
